<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <title> Vlan203 </title>
    </head>
    <body>
        <h2>{{ vlan_ip.0.0 }}的詳細資訊</h2>
        {% if vlan_ip %}
            <h3>目前共有{{ vlan_ip | length }}條關於{{ vlan_ip.0.0 }}的資訊</h3>
            <table border = '1'><th>IP</th><th>MAC</th><th>交換器</th><th>交換器port</th><th>主機</th>
            {% for v in vlan_ip %}
                <tr>
                    <td> {{ v.0 }} </td>
                    <td> {{ v.1 }} </td>
                    <td> {{ v.2 }} </td>
                    <td> {{ v.3 }} </td>
                    <td> {{ v.4 }} </td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>無此IP的資料</p>
        {% endif %}
        <br/><br/>
        {% if f.errors %}
        <p>
            請修復表單
        </p>
        {% endif %}
        <form action="" method="post"> {% csrf_token %}
            <table>
                {{ f.as_table }}
            </table>
            <input type="submit" value="查詢">
        </form>
    </body>
</html>